*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/头条背景.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.carouselWrapper{
    width: 410px;
    /* height: 435px; */
    /* border: 1px solid red; */
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.loginWrapper .tellogin{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.loginWrapper .usernamelogin{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.loginWrapper .emaillogin{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.loginWrapper .tellogin.hide{
    display: none;
}
.loginWrapper .usernamelogin.hide{
    display: none;
}
.loginWrapper .emaillogin.hide{
    display: none;
}
.loginWrapper>.hr{
    width: 380px;
    margin: 20px auto;
    height: 0;
    border: 1px solid #e9e9e9;
}
.loginWrapper>.tel{
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    position: relative;
}
.loginWrapper>.tel>.alert{
    position: absolute;
    right: 25px;
    top: 10px;
    color: red;
    display: none;
}
.loginWrapper>.tel>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
}
.loginWrapper>.tel-login-input{
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    position: relative;
}
.loginWrapper>.tel-login-input>.alert{
    position: absolute;
    right: 25px;
    top: 10px;
    color: red;
    display: none;
}
.loginWrapper>.tel-login-input>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
}
.loginWrapper>.username-login-input{
    display: none;
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    position: relative;
}
.loginWrapper>.username-login-input>.alert{
    position: absolute;
    right: 25px;
    top: 10px;
    color: red;
    display: none;
}
.loginWrapper>.username-login-input>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
}
.loginWrapper>.email-login-input{
    display: none;
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    position: relative;
}
.loginWrapper>.email-login-input>.alert{
    position: absolute;
    right: 25px;
    top: 10px;
    color: red;
    display: none;
}
.loginWrapper>.email-login-input>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
}
.loginWrapper>.verify{
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    width: 380px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* justify-content: center; */
}
.loginWrapper>.verify::after{
    content: '';
    display: block;
    height: 80%;
    width: 0;
    border: 1px solid #e9e9e9;
    position: absolute;
    left: 50%;
    top: 10%;
}
.loginWrapper>.verify>input{
    flex: none;
    display: block;
    font-size: 18px;
    line-height: 40px;
    float: left;
    /* border: 1px solid #e9e9e9; */
    /* border-right: 0; */
    border: 0;
    width: 50%;
}
.loginWrapper>.verify>#send{
    float: left;
    height: 40px;
    background-color: white;
    border: none;
    display: block;
    font-size: 20px;
    width: 50%;
    flex: none;
}
.loginWrapper>.pwd>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px; 
}
.loginWrapper>.back{
    width: 380px;
    margin: 20px auto;
}
.loginWrapper>.back>span{
    cursor: pointer;
}
.loginWrapper>.back>span:hover{
    color: blue;
}
.loginWrapper>.switch-login{
    width: 380px;
    margin: 20px auto;
}
/* .loginWrapper>.switch-login>span{
    cursor: pointer;
} */
.loginWrapper>.switch-login a{
    cursor: pointer;
}
.loginWrapper>.switch-login a:hover{
    color: blue;
}
#switchto-tel-login.hide{
    display: none;
}
#switchto-email-login.hide{
    display: none;
}
#switchto-username-login.hide{
    display: none;
}
.loginWrapper>button{
    width: 380px;
    margin: 0 auto 20px auto;
    display: block;
    height: 40px;
    font-size: 20px;
    background-color: rgb(248, 89, 89);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #e9e9e9;
    color: white;
    cursor: pointer;
}
.loginWrapper>button:hover{
    background-color: rgb(248, 105, 89);
}
.loginWrapper>button:focus{
    outline: none;
}
.loginWrapper>button:active{
    position: relative;
    top: 1px;
}
.registerWrapper>.telreg{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.registerWrapper>.emailreg{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.registerWrapper>.emailreg.hide{
    display: none;
}
.registerWrapper>.telreg.hide{
    display: none;
}

.registerWrapper>.hr{
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
}
registerWrapper .username{
    height: 40px;
    margin-bottom:20px; 
    position: relative;
    border: 1px solid red;    
}
.registerWrapper .username input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
}
.registerWrapper>.tel{
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    position: relative;
}
.registerWrapper>.tel.hide{
    display: none;
}
.registerWrapper>.tel>.alert{
    position: absolute;
    right: 25px;
    top: 10px;
    color: red;
    display: none;
}
/* .registerWrapper>.tel>.alert.dis{
    position: absolute;
    right: 25px;
    top: 10px;
    color: red;
} */
.registerWrapper>.tel>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
}
.registerWrapper>.email{
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    position: relative;
}
.registerWrapper>.email.hide{
    display: none;
}
.registerWrapper>.email>.alert{
    position: absolute;
    right: 25px;
    top: 10px;
    color: red;
    display: none;
}

.registerWrapper>.email>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
}
.registerWrapper>.verify{
    /* margin-top: 66px; */
    height: 40px;
    margin-bottom:20px; 
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    width: 380px;
    margin: 0 auto;
    position: relative;
}
.registerWrapper>.verify::after{
    content: '';
    display: block;
    height: 70%;
    width: 0;
    border: 1px solid #e9e9e9;
    position: absolute;
    left: 50%;
    top: 15%;
}
.registerWrapper>.verify>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    float: left;
    border: 0;
    width: 50%;
    /* outline: none; */
}
.registerWrapper>.verify>#send{
    float: left;
    height: 40px;
    background-color: white;
    border: none;
    display: block;
    font-size: 18px;
    width: 50%;
}
.registerWrapper>.pwd>input{
    display: block;
    font-size: 18px;
    line-height: 40px;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px; 
}
.registerWrapper>.back{
    width: 380px;
    margin: 20px auto;
}
.registerWrapper>.back>span{
    cursor: pointer;
}
.registerWrapper>.back>span:hover{
    color: blue;
}
.registerWrapper>.back>span.switch-register{
    float: right;
}
.registerWrapper>.back a{
    cursor: pointer;
}
.registerWrapper>.back a:hover{
    color: blue;
}
.registerWrapper>button{
    width: 380px;
    margin: 0 auto 20px auto;
    display: block;
    height: 40px;
    font-size: 20px;
    background-color: rgb(248, 89, 89);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #e9e9e9;
    color: white;
    cursor: pointer;
}
.registerWrapper>button:hover{
    background-color: rgb(248, 105, 89);
}
.registerWrapper>button:focus{
    outline: none;
}
.registerWrapper>button:active{
    position: relative;
    top: 1px;
}
.loginWrapper{
    background-color: white;
    z-index: 1000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    flex: none;
    width: 410px;
    transition: all 1s;
    opacity: 1;
}
.registerWrapper{
    background-color: white;
    z-index: 1000;
    width: 410px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
    flex: none;
    opacity: 0;
    transition: all 1s;
}
.loginWrapper.animate{
    transform: translateX(-100%);
    opacity: 0;
}
.registerWrapper.animate{
    transform: translateX(-100%);
    opacity: 1;
}

.registerWrapper .pwd{
    position: relative;
}
.registerWrapper .pwd>#password-diff{
    position: absolute;
    right: 6%;
    bottom: 11%;
    color: red;
    display: none;
}
.loginWrapper .back{
    display: flex;
}
#forgetPassword{
    margin-left: auto;
}
#forgetPassword>span:hover{
    cursor: pointer;
    color: blue;
}
.swiper-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
.carouselWrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
